%h2 Temporadas
.panel.panel-default
	.panel-body
		%ul.list-group
			- @seasons.each_with_index do |season, i|
				- if season == @seasons.first
					%li.list-group-item.active
						= "#" + (@seasons.count - i).to_s + " - La temporada actual comenz칩 en " + DateWow(season.startdate) + " y concluir치 en " + DateWow(season.enddate) + ", hay " + season.users.count.to_s + " internos activos al momento."
				- else
					%li.list-group-item
						= "#" + (@seasons.count - i).to_s + " - Comenz칩 en " + DateWow(season.startdate) + " y concluy칩 en " + DateWow(season.enddate) + ", hubo " + season.users.count.to_s + " internos activos."
= link_to "Regresar", root_path, :class => "btn btn-default"
