%h1 Iniciar nueva temporada
= render 'form'
.alert.alert-warning Debe recordar que al iniciar una nueva temporada lo internos que estén incluidos en la temporada anterior serán deshabilitados del sistema, y los nuevos usuarios creados estarán habilitados dentro de la nueva.