%h1 Usuarios
-if current_user.role == "Admin"
  .panel.panel-default
    .panel-heading
      %h4 Jefes de área
    .panel-body
      - User.where(:role => "1").each do |user|
        = link_to user.name + " " + user.lastname + ", jefe de " + (user.area != nil ? user.area.name : "No asignado"), user, :class => "list-group-item"
  .panel.panel-default
    .panel-heading
      %h4 Tutores
    .panel-body
      - User.where(:role => "2").each do |user|
        = link_to user.name + " " + user.lastname + ", tutor en " + (user.area != nil ? user.area.name : "No asignado"), user, :class => "list-group-item"
  .panel.panel-default
    .panel-heading
      %h4 Internos Activos
    .panel-body
      - User.where(:season_id => Season.last.id).each do |user|
        = link_to user.name + " " + user.lastname + ", interno en " + (user.area != nil ? user.area.name : "No asignado"), user, :class => "list-group-item"
-else
  .panel.panel-default
    .panel-heading
      %h4 Internos en área
    .panel-body
      - User.where(:season_id => Season.last.id, :area_id => current_user.area.id).each do |user|
        = link_to user.name + " " + user.lastname + ", interno en " + (user.area != nil ? user.area.name : "No asignado"), user, :class => "list-group-item"