%li.list-group-item
  %b Revisado por:
  - @procedure.examineds.each do | examined_by |
    %ul.list-group
      %li.list-group-item
        = [examined_by.user.doctor_gender, examined_by.user.fullname].join(" ")
  = "No a sido revisado" if @procedure.examineds.count.zero?
